{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}quest5{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

<div class="example-wrapper">
    <h1> {{ category.name }}! ✅</h1>
</div>
{% endblock %}
